template(name='sellsNew')
  div(class="sells-new")
    +dialogMixin
        
    form(class="js-sell-new-form")
      +PaperHeaderPanel id="right"
        +PaperHeaderSmall id='right' classes='right-header'
          +PaperButton classes="save-icon-div js-submit-new-sell" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        
        +PaperHeaderBig id="right"
          +PaperButton classes="save-icon-div js-submit-new-sell" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
              
                  
        +PaperHeaderMain id="right"
          div(class='organization-bottom')
            div(class='input-area')
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  div(class='detail-title-wrapper')
                    div(class='detail-title')
                      | Products 
                      
                    div(class='db-wrapper')
                      +PaperButton classes="add-detail" raise=0 rippleOn=true submit=false
                        i(class="material-icons")
                          | camera_alt
                    
                    div(class='db-wrapper')
                      +PaperButton classes="add-detail js-show-d" raise=0 rippleOn=false submit=false
                        div(class="js-dialog-b" data-tab1='products' data-tab2='inventories' data-many='true' tabs='true')
                        i(class="material-icons")
                          | add
              
              div(class='grid-wrapper sell-detail')
                div(class='col-12 p-right p-left')
                  each product in products
                    div(class='product-box' data-id='#{product._id}')
                      div(class='product-info')
                        img(src='/no_image0.png')
                        div(class='p-nsk')
                          div(class='p-name')
                            | #{product.name} 
                            
                          span
                            | #{product.size}
                          
                          span(class='p-sku')
                            | SKU: #{product.sku}
                            
                          div(class='p-description')
                            | #{product.description}
                      
                      div(class='detail-info')
                        div(class='col p-right')
                          label(class='label')
                            | Price
                            span
                              | (Tax Exc)
                          div(class='value')
                            | $#{product.unit_price}
                        
                        div(class='col p-right')
                          label(class='label')
                            | Tax Rate
                          div(class='value')
                            | #{product.tax_rate}%
                        
                        div(class='col p-right')
                          label(class='label')
                            | Price 
                            span
                              | (Tax Inc)
                          div(class='value')
                            =subTotal(product._id)
                          
                        div(class='col-3')
                          +PaperInput classes='js-detail-quantity' disabled=(disableDetail product._id) type="number" name="quantity" label="Quantity" value=(pdetailQuantity product._id) focusColor="darkblue" min='0' labelFloat=true

                      div(class='grid-wrapper')
                        div(class='col-12')
                          +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d inv-button-wrapper"
                            div(class="inv-b js-dialog-b" data-sub='inventories' data-many='true' data-parent='product' data-parentid="#{product._id}")
                              div(class="text-div-sm") Inventories
                              div(class="icon-div")
                                i(class="material-icons icon") add_circle
                  
                      each inventory in inventories product._id
                        div(class='inventory-box grid-wrapper' data-id='#{inventory._id}')
                          div(class='inventory-info col-5 p-right')
                            div(class='info')
                              label(class='label')
                                | Identifier
                              div(class='value')
                                = invIdentifier(inventory)
                            
                            if inventory.expiration_date
                              div(class='info' style='margin-top: 15px;')
                                label(class='label')
                                  | Expiration Date
                                div(class='value')
                                  | #{inventory.expiration_date}
                            
                          div(class='inventory-amount col-4')
                            label(class='label')
                              | Available
                            div(class='value')
                              = invAvailable(inventory)
                          
                          div(class='inventory-input col-3')
                            +PaperInput classes='js-inventory-input' type="number" name="amount_taken" value="1" label="Taken" focusColor="darkblue" min='0' max=inventory.amount labelFloat=true

                          
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="number" alwaysFloating=true name="total_price" label="Total" value=sell.total_price focusColor="darkblue" prefix="$" step="any" min='0' disabled="true" size="size-medium"
              
              div(class='grid-wrapper')
                div(class='col-6 p-left')
                  +PaperInput type="number" alwaysFloating=true name="sub_total" label="Sub Total" value=sell.sub_total focusColor="darkblue" prefix="$" step="any" min='0' disabled="true"

                div(class='col-6 p-right p-left')
                  +PaperInput type="number" alwaysFloating=true name="tax_total" label="Tax Total" value=sell.tax_total focusColor="darkblue" prefix="$" step="any" min='0' disabled="true"

              
              div(class='grid-wrapper')
                div(class='col-6 p-left')
                  +PaperInput type="text" name="status" label="Status" focusColor="darkblue"
                  
                div(class='col-6 p-left p-right')
                  +PaperInput type="number" classes="js-discount-input discount-input" name="discount" label="Discount" focusColor="darkblue" step="any" min='0'
                  
                  +PaperButton classes='js-discount-select discount-select' elevation=1 raise=0 submit=false rippleOn=true
                    div(class='discount-icon' type='#{discountType.value}')
                      | #{discountType.option} 
                  
                  

              
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="notes" label="Notes" focusColor="darkblue" charMax='512' showCount=true
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='customers' data-many='false')
                      div(class="text-div-sm") Customer
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
              
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='customers' data-many='false')
                      div(class="text-div-sm") Telephone
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle


              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='customers' data-many='false')
                      div(class="text-div-sm") Billing Address
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                        
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='customers' data-many='false')
                      div(class="text-div-sm") Shipping Address
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                        
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=1 elevation=1 submit=false rippleOn=true classes='pay-button'  disabled=canPay
                    i(class="material-icons")
                      | monetization_on
                        
            
