template(name='customersNew')
  div(class="customers-new")
    form(class="js-customers-new-form")
      +PaperHeaderPanel id="right"
        +PaperHeaderSmall id='right' classes='right-header'
          +PaperButton classes="save-icon-div js-submit-new-customer" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        
        +PaperHeaderBig id="right"
          +PaperButton classes="save-icon-div js-submit-new-customer" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
              
        
        +PaperHeaderMain id="right"
          div(class='organization-bottom')
            div(class='input-area')
              div(class="grid-wrapper")
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="first_name" label="First Name" focusColor="darkblue" size="size-medium"
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="last_name" label="Last Name" focusColor="darkblue" size="size-small"
                                      
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="email" label="Email" focusColor="darkblue" size="size-small"  
                                    
              div(class="grid-wrapper")
                div(class="col-7 p-left")
                  +PaperInput type="text" name="company" label="Company" focusColor="darkblue" size="size-small"
                  
                div(class='col-5 p-left p-right')
                  +PaperInput type="text" name="date_of_birth" label="Birthday" focusColor="darkblue" size="size-small"
                  
              
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="notes" label="Notes" focusColor="darkblue" charMax='512' showCount=true
                  
              
              div(class="grid-wrapper")
                div(class='col-12 p-right p-left')
                  +telephonesAdd max=5
                
              div(class="grid-wrapper")
                div(class='col-12 p-right p-left')
                  +addressesAdd max=5
            

              
