template(name='OUserShow')
  div(class='show-area elevation-0') 
    
    div(class='show-tool')
      +PaperButton classes="so-button back card-shrink-action" raise=0 rippleOn=true submit=false elevation=0
        i(class="material-icons")
          | arrow_back
          
      div(class='tool-title text-overflow')
        div
          | #{toolT}
        
      +PaperButton classes="so-button more-ver card-shrink-action" raise=0 rippleOn=true submit=false elevation=0
        i(class="material-icons")
          | more_vert
          
      
          
    div(class='top')
      img(src='/default_avatar.png')
      h3
        | #{ouser.profile.first_name} #{ouser.profile.last_name}
      h4
        | #{email}
        
    div(class='scroll-section')
    
      +PaperButton classes="show-fab js-show-new" elevation=2 rippleOn='true' rippleFill='white'
        div(class='plus-icon-div' data-template='ousersUpdate')
          i(class="material-icons plus-icon")
            | #{fabT}
    
      div(class='middle')
        +PaperTabPanel tabs=tabs scrollable=true classes='show-bar'     
          +PaperTab classes='active-panel show-panel' index=0    
            div(class='flex-grid')
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Notes
                    if ouser.profile.notes
                      div(class='info')
                        | #{ouser.profile.notes}
                    else
                      div(class='info-none')
                        | None
                    
            div(class='flex-grid')
              div(class='section elevation-0')
                i(class='material-icons')
                  | card_giftcard
                
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Date Of Birth
                    if ouser.profile.date_of_birth
                      div(class='info')
                        | #{ouser.profile.date_of_birth}
                    else
                      div(class='info-none')
                        | None
                        
              div(class='section elevation-0')
                i(class='material-icons')
                  | email
                
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Email
                    if email
                      div(class='info')
                        | #{email}
                    else
                      div(class='info-none')
                        | None
                                  
              div(class='section elevation-0')
                i(class='material-icons')
                  | phone
                  
                div(class='it')
                  if telephones
                    each telephone in telephones
                      div(class='info-div')
                        div(class='title')
                          if telephone.name
                            | #{telephone.name}
                          else
                            | Telephone
                        div(class='info')
                            | #{telephone.number}
                  
                  else
                    div(class='info-div')
                      div(class='title')
                        | Telephones
                      div(class='info-none')
                        | None
      
              div(class='section elevation-0')
                i(class='material-icons')
                  | location_on
                  
                div(class='it')
                  if addresses
                    each address in addresses
                      div(class='info-div')
                        div(class='title')
                          if address.name
                            | #{address.name}
                          else
                            | Address
                        div(class='info')
                          div(class='add-info')
                            | #{address.street}
                          div(class='add-info')
                            | #{address.street2}
                          div(class='add-info')
                            if address.city
                              | #{address.city}, #{address.state}
                          div(class='add-info')
                            | #{address.zip_code}
                          div(class='add-info')
                            | #{address.country}
                  
                  else
                    div(class='info-div')
                      div(class='title')
                        | Addresses
                      div(class='info-none')
                        | None
            
            div(class='sub-title')
              | Permissons
            div(class='flex-grid')
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Owner
                if permission 'owner' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                
                      
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Viewer
                if permission 'viewer' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                    
                    
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Expenses Manager
                if permission 'expenses_manager' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                    
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Sells Manager
                if permission 'sells_manager' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                    
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Units Manager
                if permission 'units_manager' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                    
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Inventories Manager
                if permission 'inventories_manager' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
                    
              div(class='section elevation-0')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Users Manager
                if permission 'users_manager' 
                  i(class="material-icons")
                    | radio_button_checked
                else 
                  i(class="material-icons")
                    | radio_button_unchecked
              div(class='section elevation-0' style='max-height: 0; min-height: 0; border: none')
              div(class='section elevation-0' style='max-height: 0; min-height: 0; border: none')
