template(name='unitsSelector')
  div(class='js-list-item list-item' data-id="#{item._id}" selected='#{isChecked.get}')
  
    if many
      div(class="checker-div")
        +PaperCheckbox classes="checkbox" rippleFill='darkblue' fcolor='darkblue' clickCallback=onItemClickCallback checked=isChecked.get
    else
      div(class='checker-div')
        +PaperRadio classes="checkbox" rippleFill='darkblue' fcolor='darkblue' clickCallback=onItemClickCallback checked=isChecked.get

  
    div(class='info-div')
      div
        div(class="main")
          | #{item.name}
        div(class="sub")
          | #{item.description}
      
  
