div(class='paper-select')
  div(class='floated-label-container') &nbsp;
  div(class='input-content')
    div(class='input-container #{size}')
      label(class="input-label #{float.get} #{size}" style="color: #{colorL.get}; ")
        | #{label}
        span
          | #{span}
          
      select(name=name
            data-id="input"
            class="pinput #{size}"
            value=value
            disabled=disabled
            placeholder=placeholder
            readonly=readonly
            max=max
            min=min
            autocomplete='off'
            step=step)/
              
    div(class='defix')
      | #{defix}
      
  div(class='underline-container')
    div(class='underline-unfocused' disabled=disabled)
    div(class='underline-focused #{underline.get}' style="background: #{focusColor}; ")
  
