template(name="YieldCard")
  div(class='yield-card')
    +PaperCard elevation=1
      div(class='content')
        +PaperButton elevation=0 rippleOn=true classes='options-b' raise=0
          i(class='material-icons')
           | more_vert
        
        div(class='top')   
          img(src='/no_image0.png')
          
          div(class='info-div')
            div(class='main-title')
              | #{ingredient.name} 
            div(class='sub-title')
              | Yield: #{identifer}
        
        div(class='middle')
    
          div(class='amount')
            | #{yield.amount} 
            span 
              | #{ingredient.measurement_unit}
        
          div(class='info')
            div(class='contact')
              div(class='label')
                | Created At
              div(class='info')
                | #{date}
                
            div(class='contact')
              div(class='label')
                | From Unit
              div(class='info')
                | #{unit.name}
            
        div(class='tpanel')
          div(class='title') 
            | Pass 4 Events
          
          each event in mEvents
            div(class='e-div')
              div(class='event-info')
                img(src='/default_avatar.png')
                
                div(class='einfo-div')
                  div(class='main-title')
                    | User Lastname 
                  div(class='sub-title')
                    | Nov 16, 2016

                    
                div(class='event-amount')
                  | #{event.amount} 

                
            
                
              
            
            
        
        
        //- Yield Identier 3 jjj
        //- Date createdAt 3
        //- Ingredient Name 1 jjj
        //- Ingredient Measurement Unit 4
        //- Yield Amount 2
        //- Unit Name 3
        
      
