template(name="expensesNew")
  div(class="expenses-new")
    +dialogMixin
        
    form(class="js-expenses-new-form")    
      +PaperHeaderPanel id="right"
        +PaperHeaderSmall id='right' classes='right-header'
          +PaperButton classes="save-icon-div js-submit-new-expense" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        
        +PaperHeaderBig id="right"
          +PaperButton classes="save-icon-div js-submit-new-expense" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        +PaperHeaderMain id="right"
          div(class='organization-bottom')
            div(class='input-area')
              div(class="grid-wrapper")
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="name" label="Item Name" focusColor="darkblue" size="size-medium" schema=schema
                  
              div(class='grid-wrapper')
                div(class='col-6 p-left')
                  +PaperInput classes='js-value-changed unit-price' type="number" name="price" label="Unit Cost" focusColor="darkblue" prefix="$" step="0.01" min='0' schema=schema

                div(class='col-6 p-right p-left')
                  +PaperInput classes='js-value-changed quantity' type="number" name="quantity" label="Quantity" focusColor="darkblue" min='0' schema=schema
                  
                div(class='col-6 p-left')
                  +PaperInput type="number" alwaysFloating=true name="total_price" label="Total" value=totalPrice.get focusColor="darkblue" prefix="$" step="any" min='0' disabled="true"

              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="description" label="Description" focusColor="darkblue" charMax='512' showCount=true schema=schema

              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='providers'  data-many='false')
                      div(class="text-div") Provider
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
              
              if provider.first_name
                div(class='grid-wrapper')
                  div(class='col-12 p-right p-left unit-div')
                    div(class='provider-info')
                      img(src='/default_avatar.png')
                      div(class='p-nsk')
                        div(class='p-name')
                          | #{provider.first_name} #{provider.last_name}
                        div(class='p-description')
                          | #{provider.company}
                        
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='units'  data-many='false' error="{{error 'unit_id'}}")
                      div(class="text-div") Unit
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                  
                  if error 'unit_id'
                    div(class='err-div')
                      | Unit is required
                    
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left unit-div')
                  div(class='provider-info')
                    div(class='p-nsk')
                      div(class='p-name')
                        | #{unit.name}
                      div(class='p-description')
                        | #{unit.description}
