template(name='CustomerCard')
  div(class='cust-card')
    +PaperCard elevation=1
      div(class='content')
        +PaperButton elevation=0 rippleOn=true classes='options-b' raise=0
          i(class='material-icons')
           | more_vert
           
        div(class='top')
          img(src='/default_avatar.png')

          div(class='info-div')
            div(class='main-title card-expand-action')
              | #{customer.first_name} #{customer.last_name}
              
            div(class='sub-title')
              | #{customer.company}
        
        div(class='middle')
          div.contact-title
            div(class="table card-shrink-action")
              | Contact Information
            
                 
          div(class ="contact-div")
            div(class='height-div')
              div(class='contact')
                div(class='label')
                  | Email
                if customer.email
                  div(class='info')
                    | #{customer.email}
                else
                  div(class='info-none')
                    | None
                  
              
              if telephones
                  div(class='contact nav-wrapper' data-type='telephones')
                          
                    div(class='nav-info-wrapper')
                      div(class='nav-info-mover')
                        each telephone in telephones
                            div(class='nav-info')
                              div(class="label")
                                if telephone.name
                                  | #{telephone.name}
                                else
                                  | Telephone
                              div(class='info')
                                | #{telephone.number}
                                
                    div(class="nav left {{disableLeft 'telephones'}} js-nav-left")
                      i(class='material-icons')
                        | keyboard_arrow_left
                    
                    div(class="nav right js-nav-right {{disableRight 'telephones'}}")
                      i(class='material-icons')
                        | keyboard_arrow_right
                        
              else
                div(class='contact')
                  div(class='label')
                    | Telephones
                  div(class='info-none')
                    | None
                    
              
              if addresses
                div(class='contact nav-wrapper' data-type='addresses')
                      
                  div(class='nav-info-wrapper')
                    div(class='nav-info-mover')
                      each address in addresses
                          div(class='nav-info')
                            div(class="label")
                              if address.name
                                | #{address.name}
                              else
                                | Address
                            div(class='info')
                              div(class='add-info')
                                | #{address.street}
                              div(class='add-info')
                                | #{address.street2}
                              div(class='add-info')
                                if address.city
                                  | #{address.city}, #{address.state}
                              div(class='add-info')
                                | #{address.zip_code}
                              div(class='add-info')
                                | #{address.country}
                  div(class="nav left {{disableLeft 'addresses'}} js-nav-left")
                    i(class='material-icons')
                      | keyboard_arrow_left
                  
                  div(class="nav right {{disableRight 'addresses'}} js-nav-right")
                    i(class='material-icons')
                      | keyboard_arrow_right
                  
                      
              else
                div(class='contact')
                  div(class='label')
                    | Addresses
                  div(class='info-none')
                    | None
                  
            
        //- div(class='bottom')
        //-   +PaperButton elevation=0 rippleOn=true classes='action-button' raise=0
        //-     | NEW SELL
              
