template(name='sells.index')
  +PaperRightPanel callbacks=rightCallbacks
    div(class='js-show-right')
    div(class="js-right-content")
      if rightShown.get
        +Template.dynamic template=rightTemplate.get data=rightData.get
    

  +PaperButton classes="new-action js-show-new" elevation=2 rippleOn='true' rippleFill='white'
    div(class='plus-icon-div' data-template='sellsNew')
      i(class="material-icons plus-icon")
        | add

  div(class='sells main-content' ready=ready )
    div(class='card-wrapper')
      each sell in sells
        +SellCard sell=sell

  unless page.ready 
    div(class="spinner")
      div(class="rect1")
      div(class="rect2")
      div(class="rect3")
      div(class="rect4")
      div(class="rect5")
