template(name='ProviderCard')
  div(class='cust-card')
    +PaperCard elevation=1 classes="no-height"
      div(class='content')
        +PaperButton elevation=0 rippleOn=true classes='options-b' raise=0
          i(class='material-icons')
           | more_vert
           
        div(class='top')
          img(src='/default_avatar.png')

          div(class='info-div')
            div(class='main-title')
              | #{provider.first_name} #{provider.last_name}
              
            div(class='sub-title')
              | #{provider.company}
        
        div(class='middle')
          +PaperButton elevation=0 raise=0 classes="js-toggle-contact contact-title"
            div.table
              | Contact Information
            div.table
              div(class="more-b")
                i(class='material-icons')
                 | keyboard_arrow_down
                 
          div(class ="contact-div" style="height: 0")
            div(class='height-div')
              div(class='contact')
                div(class='label')
                  | Email
                if provider.email
                  div(class='info')
                    | #{provider.email}
                else
                  div(class='info-none')
                    | None
                  
              
              if telephones
                each telephone in telephones
                  div(class='contact')
                    div(class="label")
                      if telephone.name
                        | #{telephone.name}
                      else
                        | Telephone
                    div(class='info')
                      | #{telephone.number}
              else
                div(class='contact')
                  div(class='label')
                    | Telephones
                  div(class='info-none')
                    | None
                    
              
              if addresses
                each address in addresses
                  div(class='contact')
                    div(class="label")
                      if address.name
                        | #{address.name}
                      else
                        | Address
                    div(class='info')
                      div(class='add-info')
                        | #{address.street}
                      div(class='add-info')
                        | #{address.street2}
                      div(class='add-info')
                        if address.city
                          | #{address.city}, #{address.state}
                      div(class='add-info')
                        | #{address.zip_code}
                      div(class='add-info')
                        | #{address.country}
                      
              else
                div(class='contact')
                  div(class='label')
                    | Addresses
                  div(class='info-none')
                    | None
                  
            
        //- div(class='bottom')
        //-   +PaperButton elevation=0 rippleOn=true classes='action-button' raise=0
        //-     | NEW SELL
              
