template(name="Home")
  +PaperDrawerPanel
    +PaperDrawer 
      div(class='drawer-wrapper')
        div(class='drawer-top')
            
          +PaperButton classes="js-logout logout-icon" raise=false rippleOn=false submit=false
            i(class="fa fa-sign-out" aria-hidden="true")
          div(class="avatar-div")
            img(class="avatar-img" src="/default_avatar.png" alt="")
          div(class="name-div")
            h5(class="name-h")
              | #{user.profile.first_name} #{user.profile.last_name}
            h6(class="email-h")
              | #{email}
          
      
        div(class='drawer-middle')
          +PaperMenu
            .menu-item
              +PaperItem classes="drawer-item toggle-drawer"
                | Organizations
              
    
        div(class='drawer-button')
        
    +PaperDrawerMain
      +PaperHeaderPanel enter=enterAnimation.get
        +PaperHeader
        
        
        +PaperHeaderMain
          
  
