template(name="structure")
  
  +PaperDrawerPanel
    +PaperDrawer 
      div(class='drawer-wrapper')
        div(class='drawer-top')
            
          +PaperButton classes="js-logout logout-icon" raise=0 rippleOn=false submit=false
            i(class="material-icons")
              | exit_to_app
          div(class="avatar-div")
            img(class="avatar-img" src="/default_avatar.png" alt="")
          div(class="name-div")
            h5(class="name-h")
              | #{user.profile.first_name} #{user.profile.last_name}
            h6(class="email-h")
              | #{email}
          
      
        div(class='drawer-middle')
          if subscriptionsReady
            +PaperMenu
              .menu-item
                +PaperItem classes='drawer-item toggle-drawer' focusColor='lightgrey'
                  a(href="home")
                    | Home
            
            +PaperMenu
              .menu-item
                +PaperItem classes='drawer-item toggle-drawer' focusColor='lightgrey'
                  a(href="#")
                    | Profile
                
            +PaperMenu
              .menu-item
                +PaperItem classes=organizationClasses focusColor='lightgrey'
                  a(href="organizations.index")
                    | Organizations
                
                .sub-menu
                  each organization in organizations
                    .menu-item
                      +PaperItem classes="organ-name" focusColor='lightgrey'
                        a(href="/organizations/:organization_id" data-organ="#{organization._id}")
                          | #{organization.name}
                      .sub-menu
                        if permission 'sells_manager' organization._id
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/customers/index" data-organ="#{organization._id}")
                                | Customers
                              
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/sells/index" data-organ="#{organization._id}")
                                | Sells
                        
                        if permission 'owner' organization._id  
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/events/index" data-organ="#{organization._id}")
                                | Events
                        
                        if permission 'expenses_manager' organization._id
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/expenses/index" data-organ="#{organization._id}")
                                | Expenses
                          
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/providers/index" data-organ="#{organization._id}")
                                | Providers
                        
                        if permission 'owner' organization._id  
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/ingredients/index" data-organ="#{organization._id}")
                                | Resources
                        
                        if permission 'inventories_manager' organization._id
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/inventories/index" data-organ="#{organization._id}")
                                | Inventories
                              
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/products/index" data-organ="#{organization._id}")
                                | Products
                        
                        if permission 'units_manager' organization._id  
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/units/index" data-organ="#{organization._id}")
                                | Units
                              
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/yields/index" data-organ="#{organization._id}")
                                | Yields
                            
                        if permission 'users_manager' organization._id
                          .menu-item
                            +PaperItem classes="collection-name toggle-drawer" animationType=2 focusColor='darkblue'
                              a(href="/organizations/:organization_id/ousers/index" data-organ="#{organization._id}")
                                | Users
              
              
    
        div(class='drawer-button')
        
    +PaperDrawerMain
      +PaperHeaderPanel id="root"
        +PaperHeader id="root" classes="header-start"
        
        
        +PaperHeaderMain id="root" classes="headermain-start"
          +Template.dynamic template=headermain
  
