template(name="root")
  div(style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true")
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false")
      symbol(id="ripply-scott" viewBox="0 0 100 100")
        circle(id="ripple-shape" cx="1" cy="1" r="1")

  +PaperDrawerPanel
    +PaperDrawer
      +PaperMenu
        .menu-item
          +PaperItem
            | Link
          .sub-menu
            .menu-item
              +PaperItem classes="sub-test" animationType=2 focusColor='skyblue'
                | Sub Menu
            .menu-item
              +PaperItem classes="sub-test" animationType=2 focusColor='skyblue'
                | Sub Menu
            .menu-item
              +PaperItem classes="sub-test"
                | Sub Menu 
              .sub-menu
                .menu-item
                  +PaperItem classes="sub-test" animationType=2 focusColor='skyblue'
                    | Sub Menu
                .menu-item
                  +PaperItem classes="sub-test" animationType=2 focusColor='skyblue'
                    | Sub Menu
                .menu-item
                  +PaperItem classes="sub-test" animationType=2 focusColor='skyblue'
                    | Sub Menu   
              
        .menu-item
          +PaperItem
            | Menu Item
        
        
    
    +PaperDrawerMain
      +PaperHeaderPanel
        +PaperHeader
          
        
        +PaperHeaderMain
          +PaperCard elevation=1  
            +PaperButton classes='card-expand-action' rippleOn=false raise=true
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false raise=true
              | Shrink me
              
            +PaperButton raise=false testing='nonono' rippleOn=true
              | Ripple
            
            div(style='display: inline-block; width: 100%; padding: 0 20px; box-sizing: border-box;')
              +PaperInput type='text' label='First Test' focusColor='#3f51b5' value="vadsaf"
            
            br
            br
            div(style='display: inline-block; width: 100%; padding: 0 20px; box-sizing: border-box;')
              +PaperInput type='number' label='total' focusColor='#3f51b5' max=12 min=0 value=4
            
            br
            br
            div(style='display: inline-block; width: 100%; padding: 0 20px; box-sizing: border-box;')
              +PaperInput type='textarea' label='textarea' focusColor='#3f51b5' showCount=true charMax='120'

            
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | b
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | c
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | d
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | e
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | f
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | g
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            +PaperButton classes='raise' raise=false
              | Ripple
            | h
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | i
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | j
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | k
          +PaperCard elevation=1
            +PaperButton classes='card-expand-action' rippleOn=false
              | Push Me
            +PaperButton classes='card-shrink-action' rippleOn=false
              | Shrink me
            | l
    
      
