template(name='inventoriesNew')
  div(class="inventories-new")
    +dialogMixin
        
    form(class="js-inventories-new-form js-form-event")    
      +PaperHeaderPanel id="right" 
        +PaperHeaderSmall id='right' classes='right-header'
          +PaperButton classes="save-icon-div js-submit-new-inventory" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        
        +PaperHeaderBig id="right"
          +PaperButton classes="save-icon-div js-submit-new-inventory" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        +PaperHeaderMain id="right"
          div(class='organization-bottom')
            div(class='input-area')
              
              div(class='grid-wrapper')
                div(class='col-6 p-left')
                  +PaperInput type="text" name="name" label="Identifier" focusColor="darkblue" size="size-small" schema=schema
                
                div(class='col-6 p-left p-right')
                  +PaperInput type="date" name="expiration_date" label="Expiration Date" focusColor="darkblue" size="size-small" schema=schema alwaysFloating=true
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="notes" label="Notes" focusColor="darkblue" charMax='512' showCount=true schema=schema
                  
                      
              +eventMixin amountLabel="Amount"
                
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='products' data-many='false' data-reset='true' error="{{error 'product_id'}}")
                      div(class="text-div") Product
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                        
                  if error 'product_id'
                    div(class='err-div')
                      | Product required
                        
                        
              if product
                div(id='dialog-scrollTo' class='grid-wrapper')
                  div(class='col-12 p-right p-left')
                    div(class='product-info')
                      img(src='/no_image0.png')
                      div(class='p-nsk')
                        div(class='p-name')
                          | #{product.name}
                          
                        span
                          | #{product.size}
                        
                        span(class='p-sku')
                          | SKU: #{product.sku}
                          
                        div(class='p-description')
                          | #{product.description}
                        
                      
                    div(class='product-r')
                      div(class='grid-wrapper')
                        div(class='col-12')
                          div(class='ing-subtitle')
                            | Product Resources
                            
                      {{setMainAmount}}
                      each ping in product.pingredients
                        with ingredient ping
                          
                          div(class='yield-b-wrapper')
                            div(class='grid-wrapper')
                              div(class='col-12 ing-section' data-ingredient="#{_id}")
                                +PaperButton raise=0 submit=false rippleOn=false classes="js-show-d yield-b"
                                  div(class="js-dialog-b" data-sub='yields' data-many='true' data-parent='ingredient' data-parentid="#{_id}")
                                    div(class='y-divider' error="{{error 'ing_mismatch'}}")
                                      div(class='y-subtitle')
                                        | Yields
                                      div(class="icon-div")
                                        i(class="material-icons icon") add_circle
                                        
                                    if error 'ing_mismatch'
                                      div(class='err-div')
                                        | All resources most equate to the same inventory amount
                                        
                                    div(class='ing-info')
                                      img(src='/no_image0.png')
                                      
                                      div(class='ing-nsk' style='flex-grow: 1')
                                        div(class='ing-name')
                                          | #{name}
                                        div(class='ing-a')
                                          | #{ping.amount} #{measurement_unit}
                                          span
                                            | pre product
                                      div(class='ing-nsk')
                                        div(class='ing-name' error="{{error 'ing_mismatch'}}")
                                          | Inventory Amount - {{ingyields ping.ingredient_id ping.amount}}
                                      
                                          
                                        

                            each yield in yields ping.ingredient_id
                              div(class='grid-wrapper')
                                div(class='col-12')
                                  div(class='yield-section')
                                    div(class='yield-sub-sec')
                                      div(class='yield-subtitle')
                                        | Yield Identifier
                                      div(class='yield-name')
                                        | #{yield.name}
                                        
                                    div(class='yield-sub-sec ml')
                                      div(class='yield-subtitle')
                                        | Current Yield Amount
                                      div(class='yield-amount')
                                        {{currentYieldAmount ping.ingredient_id yield._id yield.amount}}
                              
                                  div(class='yield-input-sec' data-yield='#{yield._id}' data-ingredient='#{ping.ingredient_id}')
                                    div(class='yield-max-div')
                                      
                                      
                                    div(class='yield-input-div')
                                      +PaperInput classes="js-amount-taken js-event-amount" schema=(cYieldSchema yield.amount) type="number" name="amount_taken" label="Amount Taken" focusColor="darkblue" size="size-small" min='0' max=yield.amount step='any' defix=measurement_unit labelFloat=false hideTop=true
                                  
                                  
                                  
                                    
