template(name='events.index')
    
  +PaperRightPanel callbacks=rightCallbacks
    div(class='js-show-right')
    div(class="js-right-content")
      if rightShown.get
        +Template.dynamic template=rightTemplate.get data=rightData.get
        
        
  
  div(class='events main-content' ready=ready)
    div(class='card-wrapper')
      each event in mEvents
        +EventCard event=event
  
  unless page.ready 
    div(class="spinner")
      div(class="rect1")
      div(class="rect2")
      div(class="rect3")
      div(class="rect4")
      div(class="rect5")

  
  
      
