template(name='YieldShow')
  div(class='show-area elevation-0') 
    
    div(class='show-tool')
      +PaperButton classes="so-button back card-shrink-action" raise=0 rippleOn=true submit=false elevation=0
        i(class="material-icons")
          | arrow_back
          
      div(class='tool-title text-overflow')
        div
          | #{toolT}
        
      +PaperButton classes="so-button more-ver card-shrink-action" raise=0 rippleOn=true submit=false elevation=0
        i(class="material-icons")
          | more_vert
          
      
          
    div(class='top')
      h3
        | #{identifer}
      h4
        | #{ingredient.name}
        
    div(class='scroll-section')
    
      +PaperButton classes="show-fab js-show-new" elevation=2 rippleOn='true' rippleFill='white'
        div(class='plus-icon-div')
          i(class="material-icons plus-icon")
            | #{fabT}
    
      div(class='middle')
        +PaperTabPanel tabs=tabs scrollable=true classes='show-bar'     
          +PaperTab classes='active-panel show-panel' index=0
            div(class='flex-grid')
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Notes
                    if yield.notes
                      div(class='info')
                        | #{yield.notes}
                    else
                      div(class='info-none')
                        | None
            
            div(class='flex-grid')
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Identifer 
                    div(class='info')
                      | #{identifer}
                      
                  div(class='info-div')
                    div(class='title')
                      | Available
                    div(class='info')
                      | #{yield.amount} 
                      span
                        | #{ingredient.measurement_unit}
                  
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Resource
                    +PaperButton classes="flex-info" raise=0 rippleOn=true submit=false elevation=0
                      img(src='/no_image2.jpg')
                      
                      div(class='info-flex-sec')
                        div(class='info text-overflow')
                          | #{ingredient.name}
                      
                      i(class='material-icons' style='margin: 0 0 0 15px')
                        | keyboard_arrow_right
                        
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | From Unit
                    +PaperButton classes="flex-info" raise=0 rippleOn=true submit=false elevation=0                      
                      div(class='info-div' style='margin: 0')
                        div(class='info text-overflow')
                          | #{unit.name}
                      
                      i(class='material-icons' style='margin: 0 0 0 15px')
                        | keyboard_arrow_right
            
            div(class='sub-title')
              | Events Info 
            
            div(class='flex-grid') 
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Total Manual Events
                    div(class='info')
                      | 23
                      
                  div(class='info-div')
                    div(class='title')
                      | Total Auto Events
                    div(class='info')
                      | 49
              
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Total Positive Events
                    div(class='info')
                      | 123
                      
                  div(class='info-div')
                    div(class='title')
                      | Total Negative Events
                    div(class='info')
                      | 112
              
              div(class='section elevation-1')
                div(class='it')
                  div(class='info-div')
                    div(class='title')
                      | Sum of Positive Events
                    div(class='info')
                      | 14
                      
                  div(class='info-div')
                    div(class='title')
                      | Sum of Negative Events
                    div(class='info')
                      | 19
              
            +Timestamp item=yield
              
          +PaperTab index=1
          
        
        
