template(name='yieldsNew')
  div(class="yields-new")
    +dialogMixin
    
    form(class="js-yields-new-form js-form-event")    
      +PaperHeaderPanel id="right" 
        +PaperHeaderSmall id='right'
          +PaperButton classes="save-icon-div js-submit-new-yield" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        
        +PaperHeaderBig id="right"
          +PaperButton classes="save-icon-div js-submit-new-yield" raise=0 rippleOn=true submit=true
            i(class="material-icons")
              | check
              
          +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
            i(class="material-icons")
              | clear
        
        +PaperHeaderMain id="right"
          div(class='organization-bottom')
            div(class='input-area')
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="name" label="Identifier" focusColor="darkblue" size="size-medium"
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="notes" label="Notes" focusColor="darkblue" charMax='512' showCount=true
                      
              +eventMixin amountLabel="Amount"
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=true classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='units' data-many='false')
                      div(class="text-div") Unit
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                        
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=true classes="js-show-d button-wrapper"
                    div(class="resources-b js-dialog-b" data-sub='ingredients' data-many='false')
                      div(class="text-div") Resource
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
