template(name="telephone_single")      
  div(class="contact-single index-#{index} telephone-form" data-index=index)
    div(class="telephone-hide")
      div(class="grid-wrapper")
        div(class="col-4 p-right")
          +PaperInput type="text" name="telephone_name" labelFloat=false label="Name" focusColor="darkblue" value=name
        
        div(class="col-8 p-left p-right")
          +PaperInput type="text" name="number" label="Number" labelFloat=true focusColor="darkblue" value=number
          
        +PaperButton raise=0 submit=false rippleOn=false classes="js-remove-telephone-b remove-telephone-b"
          div(class="icon-div")
            i(class="material-icons icon") remove_circle


      
template(name="telephones.add")
  
  div(class="contact-div" style="height: #{initHeight}")
    each telephones.get
      +telephone_single index=@index name=name number=number
    
  
      
  +PaperButton raise=0 submit=false rippleOn=true classes="js-add-telephone-b button-wrapper"
    div(class="add-telephone-b")
      div(class="text-div") Telephone
      div(class="icon-div")
        i(class="material-icons icon") add_circle
  
