div(class="paper-input #{classes}" disabled=disabled)
  unless hideTop
    div(class='floated-label-container') &nbsp;
  div(class='input-content')
    div(class='prefix #{size}')
      | #{prefix}
    div(class='input-container #{size}')
      label(class="input-label #{float.get} #{size}" style="color: #{colorL.get}; " disabled=disabled)
        | #{label}
        span
          | #{span}
      if textarea
        textarea(type=type
                  name=name
                  data-id="textarea"
                  class="pinput-textarea pinput #{size}"
                  disabled=disabled
                  rows="1"
                  placeholder=placeholder
                  autocomplete='off'
                  readonly=readonly)= value 
      else
        input(type=type
              name=name
              data-id="input"
              class="pinput #{size}"
              value=value
              disabled=disabled
              placeholder=placeholder
              readonly=readonly
              max=max
              min=min
              autocomplete='off'
              step=step)/
    div(class='defix')
      | #{defix}
  div(class='underline-container')
    div(class='underline-unfocused' disabled=disabled)
    div(class='underline-focused #{underline.get}' style="background: #{focusColor}; ")
    div(class='underline-error #{errorLine.get}')
  
  unless hideBottom
    div(class='add-on-content')
      if error.get
        div(class='error-mes')
          | #{error.get}
        
      if showCount
        div(class='char-count' style="color: #{color.get}; ")
          span
            | #{charCount.get}
  
