template(name='eventsUpdate')
  form(class="js-event-update-form")
    +PaperHeaderPanel id="right" 
      +PaperHeaderSmall id='right' classes='right-header'
        +PaperButton classes="save-icon-div js-submit-update-event" raise=0 rippleOn=true submit=true
          i(class="material-icons")
            | check
            
        +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
          i(class="material-icons")
            | clear
      
      
      +PaperHeaderBig id="right"
        +PaperButton classes="save-icon-div js-submit-update-event" raise=0 rippleOn=true submit=true
          i(class="material-icons")
            | check
            
        +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
          i(class="material-icons")
            | clear
      
      +PaperHeaderMain id="right"
        div(class='organization-bottom')
          div(class='input-area')
            div(class="grid-wrapper")
              div(class='col-12 p-right p-left')
                +PaperInput type="textarea" name="description" label="Description" focusColor="darkblue" value=event.description schema=schema
              
            div(class="grid-wrapper")
              div(class='col-4 p-right p-left')
                +PaperInput type="text" name="amount" label="Amount" focusColor="darkblue" value=event.amount disabled=true
              
              div(class='col-4 p-left')
                +PaperInput type="text" name="for_type" label="For Type" focusColor="darkblue" value=forType disabled=true 
                
              div(class='col-4 p-left')
                +PaperInput type="text" name="for_id" label="For Identifer" focusColor="darkblue" value=identifer disabled=true

                
            div(class="grid-wrapper")
              div(class='col-9 p-left')
                div(class='js-ou-label ou-label' style='cursor: auto')
                  label
                    | Is Manual
                  div(class='ou-info')
                    | Did the user created this event manually 
                    
              div(class='col-3 p-right')
                div(class='u-toggle-div')
                  div(class='ou-toggle')
                    if event.is_user_event
                      i(class="material-icons" style="color: #757575")
                        | radio_button_checked
                    else
                      i(class="material-icons" style="color: #757575")
                        | radio_button_unchecked
                
