template(name="ProductCard")
  div(class='mCard')
    +PaperCard elevation=1
      div(class='show' style='display: none; opacity: 0')
        if show.get
          +ProductShow product=product title=showTitle
          
      div(class='mCard-content')
        +PaperButton elevation=0 rippleOn=true classes='options-b' raise=0
          i(class='material-icons')
           | more_vert
           
        div(class='upper')
          div(class='top')
            img(src='/no_image0.png')
            
            div(class='titles')
              div(class='main-title card-expand-action')
                | #{product.name} 
                
              div(class='sub-title')
                | Unit Price - $#{product.unit_price}
          
          
          div(class='upper-mid')
            div(class='main')
              div(class='info')
                | 56
              div(class='sub')
                | In Stock

            
        div(class='middle')
          div(class='chart-div')
            canvas(class='canvas')
