paper-tab-panel
  div(class='tab-bar #{classes}')
    div(class='underline' style='width: #{tabWidth}%')
    each title in tabs
      div(class="bar-tab js-bar-tab {{active @index}}" data-index="{{@index}}" style='width: #{tabWidth}%')
        +PaperRipple fill='lightgrey'
        div(class='tab-title')
          | #{title}
      
  div(class="tab-main-wrapper")
    div(class='tab-panel-main #{classes}')
      +Template.contentBlock
