template(name="productsNew")
  div(class="products-new")
    +PaperDialog callbacks=dialogCB
      div(class="js-open-dialog")
      if showDialog.get
        +selectList subscription='ingredients' many="true" params="" callbacks=selectCallbacks currentList=ingredients.get
      
    +PaperHeaderPanel id="right" title="New Resource"
      +PaperHeader id="right"
        +PaperButton classes="save-icon-div js-submit-new-product" raise=0 rippleOn=true submit=true
          i(class="material-icons")
            | check
            
        +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
          i(class="material-icons")
            | clear
      
      +PaperHeaderMain id="right"
        form(class="js-product-new-form")
          div(class='organization-bottom')
            div(class='input-area')
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="text" name="name" label="Product Name" focusColor="darkblue" size="size-medium"
                  
              div(class='grid-wrapper')
                div(class="col-8 p-left p-right")
                  +PaperInput type="text" name="name" label="Size" focusColor="darkblue"
                div(class='col-4 p-right')
                  +PaperInput type="text" name="measurement_unit" label="SKU" focusColor="darkblue"

              div(class='grid-wrapper')
                div(class='col-4 p-right p-left')
                  +PaperInput type="number" classes="js-calc-p uprice" name="name" label="Price" focusColor="darkblue" prefix="$" step="0.01" min='0' span="(tax exc)"
                div(class='col-4 p-right')
                  +PaperInput type="number" classes="js-calc-p tax" name="name" label="Tax Rate" focusColor="darkblue" defix="%" step="any" min="0" max="100"
                div(class='col-4 p-right')
                  +PaperInput type="number" classes="js-calc-p tprice" name="name" label="Price" value="0.00" focusColor="darkblue" prefix="$" step="any" min='0' span="(tax inc)" disabled="true"
                  
                  
                  
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperInput type="textarea" name="name" label="Description" focusColor="darkblue" charMax='512' showCount=true
              
              div(class='grid-wrapper')
                div(class='col-12 p-right p-left')
                  +PaperButton raise=0 submit=false rippleOn=true classes="js-show-d button-wrapper"
                    div(class="resources-b")
                      div(class="text-div") Resources
                      div(class="icon-div")
                        i(class="material-icons icon") add_circle
                        
              
              each ingredient in ingredients.get
                div(class='grid-wrapper')
                  div(class='col-7 p-left')
                    div(class='ing-info')
                      div(class='ing-img')
                        div(class="circle-image")
                      
                      div(class='ing-text')
                        div(class='ing-name')
                          | #{ingredient.name}
                        
                      
                  div(class='col-5 p-right p-left')
                    div(class='ing-info')
                      +PaperInput type="number" classes='amount-input' name="name" label="Amount" focusColor="darkblue" min="0" defix=ingredient.measurement_unit labelFloat=false hideTop=true
                    
            
                  
